project:
  type: website

format:
  html:
    theme: darkly
    css: styles.css
    toc: true
    keep-md: true

website:
  twitter-card: true
  open-graph: true
  repo-actions: none
  navbar:
    background: primary
    search: true
  sidebar:
    style: floating

metadata-files: [nbdev.yml, sidebar.yml]